/jbpm-simple-rest-client/target/
/customers-relationships/target/
/customers-services-workitems/target/
/customers-relationships-tests/target/
/customer-relationships-workitems/target/
/customer-relationships/target/
/customer-relationships-tests/target/
/human-resources/target/
/human-resources-tests/target/
/evaluation-tests/target/
*.tlog

